.w-100-p {
  width: 100%; }

.flex-row {
  display: flex; }

.btn {
  padding: 0.625rem 0.3rem;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  background: #e3e2e2; }
  .btn:active {
    background: #b6b5b5; }

.btn-primary {
  background: #02be9c;
  color: #fff; }
  .btn-primary:active {
    background: #35cbb0; }

.calendar {
  width: 100%; }
  .calendar .cal-header {
    display: flex;
    width: 100%;
    height: 10rem;
    align-items: center;
    justify-content: space-between;
    background-color: #02be9c;
    color: #fff;
    font-size: 1.5rem; }
    .calendar .cal-header .arrowbox {
      padding: 0 3rem; }
  .calendar table {
    width: 100%;
    border-collapse: collapse; }
  .calendar thead {
    width: 100%;
    background-color: #ddd;
    color: #646267; }
  .calendar tbody {
    background-color: #eee;
    color: #646267;
    font-size: 1rem; }
  .calendar td, .calendar th {
    height: 4rem; }
  .calendar td.current, .calendar td:hover {
    border-radius: 4px; }
  .calendar td.current {
    background: #02be9c !important;
    color: #fff; }
  .calendar td.active {
    background-color: #e3e2e2; }
