.w-100-p {
  width: 100%; }

.flex-row {
  display: flex; }

.btn {
  padding: 0.625rem 0.3rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  background: #e3e2e2; }
  .btn:active {
    background: #b6b5b5; }

.btn-primary {
  background: #02be9c;
  color: #fff; }
  .btn-primary:active {
    background: #35cbb0; }

.view-todos {
  width: 100%; }
  .view-todos li {
    padding: 0.5rem 0.625rem;
    font-size: 1.25rem;
    text-align: left;
    overflow-wrap: break-word; }
    .view-todos li:nth-child(2n + 1) {
      background-color: #eee; }
