@import "stylesheets/common/_common.scss";

.view-main {
    .event-top-bar {
        display: flex;
        height: 3rem;
        align-items: center;
        padding: 1rem;
        justify-content: space-between;

        h2 {
            font-size: 1.25rem;
        }
    }
}
