.w-100-p {
  width: 100%; }

.flex-row {
  display: flex; }

.btn {
  padding: 0.625rem 0.3rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  background: #e3e2e2; }
  .btn:active {
    background: #b6b5b5; }

.btn-primary {
  background: #02be9c;
  color: #fff; }
  .btn-primary:active {
    background: #35cbb0; }

.view-main .event-top-bar {
  display: flex;
  height: 4rem;
  padding: 1rem;
  justify-content: space-between;
  align-content: center; }
