// Color:
$color-primary: #02be9c;
$color-white: #fff;

$color-extra-light-gray: #eee;
$color-light-gray: #e3e2e2;
$color-regular-gray: #ddd;
$color-extra-gray: #555454;
$gray-text: #646267;
$light-gray-text: #bababa;
$black-text: #000210;

// Typography:
$font-family: sans-serif;